
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]

# Permitir /wp-admin/
RewriteRule ^wp-admin$ wp-admin/ [R=301,L]

# Si el recurso existe como archivo o carpeta, servirlo directamente
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Enviar el resto a index.php (WordPress Multisite)
RewriteRule . index.php [L]
</IfModule>

# END WordPress

# END WordPress